.bodyMainDiv {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/HomeBackgroundPic.png");
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .bodyMainDiv {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/HomeBackgroundPic.png");
        background-color: black;
        display: flex;
        flex-direction: column;

        color: white;
        justify-content: center;
        padding: 1rem;
    }
}

.findVan {
    color: white;
    width: 80%;
    max-width: 45rem;
    height: 3rem;
    background-color: #FF8C38;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-self: left;
}

.findVan:hover {
    background-color: #f39d61;
}